<html>
    <head>
        <style>
        body{
            background-image:url("home_bg2.jpg");
            background-size:cover;
        }
        .button {
            background-color:rgba(33, 150, 165, 0.911) ;
            border: none;
            color: rgb(2, 26, 54);
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            border-radius: 20px 20px 20px 20px;

}
        </style>
    </head>
    <body>
        <center><h1><img src="logo.png" height=50px></h1></center>
        <br>
        <br>
        <br>
        <br>
        <br>
          <center> <a href="login_page.html"><button class="button"><b>LOG IN</b></button></a>
            <a href="signup_page.html">  <button class="button"><b>SIGN UP</b></button></a></center>
        
    </body>
</html>