{% extends "form/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
 <h1>My Blog</h1>
 <h2>
 <a href="{{ post.get_absolute_url }}">
 {{ post.name }}
 </a>
 </h2>
 <p class="date">
 Published {{ post.email }} by {{ post.name }}
 </p>
 <img src='{{ MEDIA_URL }}{{ imagefile }}'>
 <video width="320" height="240" controls>
    <source src='{{ MEDIA_URL }}{{ videofile }}' type="video/mp4">
 </video>
 {{ post.body|truncatewords:10|linebreaks }}
 {% include "pagination.html" with page=posts %}
{% endblock %}